<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <anchors>
        <anchor>
            <x>-36.477</x>
            <y>-53.315</y>
            <height>1</height>
            <id>234</id>
        </anchor>
        <anchor>
            <x>-24.33</x>
            <y>-64.749</y>
            <height>1</height>
            <id>50</id>
        </anchor>
    </anchors>
    <route>
        <id>0</id>
        <point>
            <x>-25.957</x>
            <y>-59.162</y>
            <speed>0.833333</speed>
            <time>62000</time>
        </point>
        <point>
            <x>-26.472</x>
            <y>-58.634</y>
            <speed>0.833333</speed>
            <time>64000</time>
        </point>
        <point>
            <x>-27.333</x>
            <y>-57.831</y>
            <speed>0.833333</speed>
            <time>66000</time>
        </point>
    </route>
    <route>
        <id>1</id>
        <point>
            <x>-25.569</x>
            <y>-55.175</y>
            <speed>0.833333</speed>
            <time>80000</time>
        </point>
        <point>
            <x>-24.709</x>
            <y>-53.911</y>
            <speed>0.833333</speed>
            <time>82000</time>
        </point>
        <point>
            <x>-23.828</x>
            <y>-53.643</y>
            <speed>0.833333</speed>
            <time>84000</time>
        </point>
        <point>
            <x>-22.665</x>
            <y>-53.664</y>
            <speed>0.833333</speed>
            <time>86000</time>
        </point>
        <point>
            <x>-21.904</x>
            <y>-54.024</y>
            <speed>0.833333</speed>
            <time>88000</time>
        </point>
        <point>
            <x>-21.333</x>
            <y>-54.553</y>
            <speed>0.833333</speed>
            <time>90000</time>
        </point>
        <point>
            <x>-21.206</x>
            <y>-55.018</y>
            <speed>0.833333</speed>
            <time>92000</time>
        </point>
        <point>
            <x>-21.206</x>
            <y>-55.779</y>
            <speed>0.833333</speed>
            <time>94000</time>
        </point>
        <point>
            <x>-21.587</x>
            <y>-56.414</y>
            <speed>0.833333</speed>
            <time>96000</time>
        </point>
        <point>
            <x>-21.883</x>
            <y>-57.006</y>
            <speed>0.833333</speed>
            <time>98000</time>
        </point>
        <point>
            <x>-22.581</x>
            <y>-57.492</y>
            <speed>0.833333</speed>
            <time>100000</time>
        </point>
        <point>
            <x>-23.13</x>
            <y>-58.253</y>
            <speed>0.833333</speed>
            <time>102000</time>
        </point>
        <point>
            <x>-23.405</x>
            <y>-59.078</y>
            <speed>0.833333</speed>
            <time>104000</time>
        </point>
        <point>
            <x>-24.065</x>
            <y>-59.825</y>
            <speed>0.833333</speed>
            <time>106000</time>
        </point>
        <point>
            <x>-24.868</x>
            <y>-59.991</y>
            <speed>0.833333</speed>
            <time>108000</time>
        </point>
        <point>
            <x>-25.517</x>
            <y>-59.494</y>
            <speed>0.833333</speed>
            <time>110000</time>
        </point>
    </route>
    <route>
        <id>2</id>
        <point>
            <x>-24.522</x>
            <y>-61.688</y>
            <speed>0.833333</speed>
            <time>0</time>
        </point>
        <point>
            <x>-26.349</x>
            <y>-60.216</y>
            <speed>0.833333</speed>
            <time>2000</time>
        </point>
        <point>
            <x>-29.623</x>
            <y>-56.968</y>
            <speed>0.833333</speed>
            <time>4000</time>
        </point>
        <point>
            <x>-31.678</x>
            <y>-54.684</y>
            <speed>0.833333</speed>
            <time>6000</time>
        </point>
        <point>
            <x>-32.922</x>
            <y>-53.009</y>
            <speed>0.833333</speed>
            <time>8000</time>
        </point>
        <point>
            <x>-32.795</x>
            <y>-52.222</y>
            <speed>0.833333</speed>
            <time>10000</time>
        </point>
        <point>
            <x>-32.033</x>
            <y>-51.207</y>
            <speed>0.833333</speed>
            <time>12000</time>
        </point>
        <point>
            <x>-31.196</x>
            <y>-49.862</y>
            <speed>0.833333</speed>
            <time>14000</time>
        </point>
        <point>
            <x>-30.181</x>
            <y>-48.898</y>
            <speed>0.833333</speed>
            <time>16000</time>
        </point>
        <point>
            <x>-29.267</x>
            <y>-48.34</y>
            <speed>0.833333</speed>
            <time>18000</time>
        </point>
        <point>
            <x>-28.125</x>
            <y>-48.517</y>
            <speed>0.833333</speed>
            <time>20000</time>
        </point>
        <point>
            <x>-27.516</x>
            <y>-49.228</y>
            <speed>0.833333</speed>
            <time>22000</time>
        </point>
        <point>
            <x>-27.161</x>
            <y>-50.015</y>
            <speed>0.833333</speed>
            <time>24000</time>
        </point>
        <point>
            <x>-26.603</x>
            <y>-50.953</y>
            <speed>0.833333</speed>
            <time>26000</time>
        </point>
        <point>
            <x>-26.045</x>
            <y>-51.664</y>
            <speed>0.833333</speed>
            <time>28000</time>
        </point>
        <point>
            <x>-24.7</x>
            <y>-52.248</y>
            <speed>0.833333</speed>
            <time>30000</time>
        </point>
        <point>
            <x>-22.796</x>
            <y>-52.527</y>
            <speed>0.833333</speed>
            <time>32000</time>
        </point>
        <point>
            <x>-21.408</x>
            <y>-52.067</y>
            <speed>0.833333</speed>
            <time>34000</time>
        </point>
        <point>
            <x>-19.582</x>
            <y>-51.705</y>
            <speed>0.833333</speed>
            <time>36000</time>
        </point>
        <point>
            <x>-18.555</x>
            <y>-52.77</y>
            <speed>0.833333</speed>
            <time>42000</time>
        </point>
        <point>
            <x>-18.288</x>
            <y>-53.436</y>
            <speed>0.833333</speed>
            <time>44000</time>
        </point>
        <point>
            <x>-18.432</x>
            <y>-54.785</y>
            <speed>0.833333</speed>
            <time>48000</time>
        </point>
        <point>
            <x>-19.65</x>
            <y>-55.902</y>
            <speed>0.833333</speed>
            <time>50000</time>
        </point>
        <point>
            <x>-20.563</x>
            <y>-56.942</y>
            <speed>0.833333</speed>
            <time>52000</time>
        </point>
        <point>
            <x>-21.122</x>
            <y>-57.932</y>
            <speed>0.833333</speed>
            <time>54000</time>
        </point>
        <point>
            <x>-21.553</x>
            <y>-59.404</y>
            <speed>0.833333</speed>
            <time>56000</time>
        </point>
        <point>
            <x>-22.568</x>
            <y>-60.47</y>
            <speed>0.833333</speed>
            <time>58000</time>
        </point>
        <point>
            <x>-23.405</x>
            <y>-61.307</y>
            <speed>0.833333</speed>
            <time>60000</time>
        </point>
    </route>
</routes>
