<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <route>
        <id>0</id>
        <point>
            <x>5.088</x>
            <y>7.238</y>
            <speed>1.38889</speed>
            <time>206000</time>
        </point>
        <point>
            <x>4.977</x>
            <y>5.127</y>
            <speed>1.38889</speed>
            <time>208000</time>
        </point>
        <point>
            <x>4.818</x>
            <y>2.499</y>
            <speed>1.38889</speed>
            <time>210000</time>
        </point>
    </route>
    <route>
        <id>1</id>
        <point>
            <x>0.57</x>
            <y>9.906</y>
            <speed>1.38889</speed>
            <time>16000</time>
        </point>
        <point>
            <x>1.893</x>
            <y>10.686</y>
            <speed>1.38889</speed>
            <time>16000</time>
        </point>
        <point>
            <x>3.165</x>
            <y>10.856</y>
            <speed>1.38889</speed>
            <time>16000</time>
        </point>
        <point>
            <x>4.403</x>
            <y>10.652</y>
            <speed>1.38889</speed>
            <time>16000</time>
        </point>
        <point>
            <x>5.098</x>
            <y>10.16</y>
            <speed>0.833333</speed>
            <time>10000</time>
        </point>
        <point>
            <x>5.149</x>
            <y>9.295</y>
            <speed>0.833333</speed>
            <time>12000</time>
        </point>
        <point>
            <x>5.098</x>
            <y>8.278</y>
            <speed>0.833333</speed>
            <time>14000</time>
        </point>
    </route>
    <route>
        <id>2</id>
        <point>
            <x>-12.719</x>
            <y>10.434</y>
            <speed>0.833333</speed>
            <time>8000</time>
        </point>
        <point>
            <x>6.122</x>
            <y>11.727</y>
            <speed>0.833333</speed>
            <time>10000</time>
        </point>
        <point>
            <x>11.986</x>
            <y>-0.344</y>
            <speed>0.833333</speed>
            <time>12000</time>
        </point>
        <point>
            <x>10.132</x>
            <y>-11.382</y>
            <speed>0.833333</speed>
            <time>14000</time>
        </point>
        <point>
            <x>-7.545</x>
            <y>-14.142</y>
            <speed>0.833333</speed>
            <time>16000</time>
        </point>
        <point>
            <x>1.422</x>
            <y>-9.787</y>
            <speed>0.833333</speed>
            <time>18000</time>
        </point>
        <point>
            <x>-9.528</x>
            <y>-8.666</y>
            <speed>0.833333</speed>
            <time>20000</time>
        </point>
        <point>
            <x>-12.029</x>
            <y>-3.061</y>
            <speed>0.833333</speed>
            <time>22000</time>
        </point>
        <point>
            <x>-13.279</x>
            <y>5.906</y>
            <speed>0.833333</speed>
            <time>24000</time>
        </point>
    </route>
    <route>
        <id>4</id>
        <point>
            <x>7.285</x>
            <y>-4.304</y>
            <speed>0.833333</speed>
            <time>0</time>
        </point>
        <point>
            <x>7.454</x>
            <y>-0.436</y>
            <speed>0.833333</speed>
            <time>2000</time>
        </point>
        <point>
            <x>1.996</x>
            <y>-1.465</y>
            <speed>0.833333</speed>
            <time>4000</time>
        </point>
        <point>
            <x>3.649</x>
            <y>-4.584</y>
            <speed>0.833333</speed>
            <time>6000</time>
        </point>
        <point>
            <x>5.738</x>
            <y>-4.491</y>
            <speed>0.833333</speed>
            <time>8000</time>
        </point>
    </route>
    <route>
        <id>5</id>
        <point>
            <x>-3.256</x>
            <y>7.809</y>
            <speed>0.833333</speed>
            <time>10000</time>
        </point>
        <point>
            <x>-1.49</x>
            <y>3.559</y>
            <speed>0.833333</speed>
            <time>12000</time>
        </point>
        <point>
            <x>-4.111</x>
            <y>2.069</y>
            <speed>0.833333</speed>
            <time>14000</time>
        </point>
        <point>
            <x>-7.174</x>
            <y>3.421</y>
            <speed>0.833333</speed>
            <time>16000</time>
        </point>
        <point>
            <x>-4.111</x>
            <y>4.47</y>
            <speed>0.833333</speed>
            <time>18000</time>
        </point>
    </route>
</routes>
