<?xml version="1.0" encoding="UTF-8"?>
<routes>
    <anchors>
        <anchor>
            <x>-18.153</x>
            <y>-107.983</y>
            <height>1</height>
            <id>50</id>
        </anchor>
        <anchor>
            <x>-7.261</x>
            <y>-118.066</y>
            <height>1</height>
            <id>234</id>
        </anchor>
    </anchors>
    <route>
        <id>0</id>
        <point>
            <x>-11.385</x>
            <y>-120.036</y>
            <speed>0.833333</speed>
            <time>60000</time>
        </point>
        <point>
            <x>-12.406</x>
            <y>-118.348</y>
            <speed>0.833333</speed>
            <time>62000</time>
        </point>
        <point>
            <x>-13.623</x>
            <y>-116.935</y>
            <speed>0.833333</speed>
            <time>64000</time>
        </point>
    </route>
    <route>
        <id>1</id>
        <point>
            <x>-12.798</x>
            <y>-123.609</y>
            <speed>0.833333</speed>
            <time>66000</time>
        </point>
        <point>
            <x>-11.935</x>
            <y>-122.274</y>
            <speed>0.833333</speed>
            <time>68000</time>
        </point>
        <point>
            <x>-11.503</x>
            <y>-120.9</y>
            <speed>0.833333</speed>
            <time>70000</time>
        </point>
    </route>
    <route>
        <id>2</id>
        <point>
            <x>-11.849</x>
            <y>-115.97</y>
            <speed>0.833333</speed>
            <time>2000</time>
        </point>
        <point>
            <x>-18.238</x>
            <y>-109.799</y>
            <speed>0.833333</speed>
            <time>4000</time>
        </point>
        <point>
            <x>-21.093</x>
            <y>-107.352</y>
            <speed>0.833333</speed>
            <time>6000</time>
        </point>
        <point>
            <x>-22.724</x>
            <y>-106.346</y>
            <speed>0.833333</speed>
            <time>8000</time>
        </point>
        <point>
            <x>-24.137</x>
            <y>-106.265</y>
            <speed>0.833333</speed>
            <time>10000</time>
        </point>
        <point>
            <x>-25.524</x>
            <y>-106.917</y>
            <speed>0.833333</speed>
            <time>12000</time>
        </point>
        <point>
            <x>-26.04</x>
            <y>-108.467</y>
            <speed>0.833333</speed>
            <time>14000</time>
        </point>
        <point>
            <x>-25.279</x>
            <y>-110.098</y>
            <speed>0.833333</speed>
            <time>16000</time>
        </point>
        <point>
            <x>-24.301</x>
            <y>-111.919</y>
            <speed>0.833333</speed>
            <time>18000</time>
        </point>
        <point>
            <x>-22.289</x>
            <y>-113.224</y>
            <speed>0.833333</speed>
            <time>20000</time>
        </point>
        <point>
            <x>-20.06</x>
            <y>-115.046</y>
            <speed>0.833333</speed>
            <time>22000</time>
        </point>
        <point>
            <x>-18.619</x>
            <y>-116.432</y>
            <speed>0.833333</speed>
            <time>24000</time>
        </point>
        <point>
            <x>-18.428</x>
            <y>-118.281</y>
            <speed>0.833333</speed>
            <time>26000</time>
        </point>
        <point>
            <x>-18.619</x>
            <y>-120.157</y>
            <speed>0.833333</speed>
            <time>28000</time>
        </point>
        <point>
            <x>-19.298</x>
            <y>-122.032</y>
            <speed>0.833333</speed>
            <time>30000</time>
        </point>
        <point>
            <x>-20.25</x>
            <y>-123.364</y>
            <speed>0.833333</speed>
            <time>32000</time>
        </point>
        <point>
            <x>-21.827</x>
            <y>-125.403</y>
            <speed>0.833333</speed>
            <time>34000</time>
        </point>
        <point>
            <x>-22.289</x>
            <y>-126.654</y>
            <speed>0.833333</speed>
            <time>36000</time>
        </point>
        <point>
            <x>-21.473</x>
            <y>-127.551</y>
            <speed>0.833333</speed>
            <time>38000</time>
        </point>
        <point>
            <x>-20.413</x>
            <y>-128.04</y>
            <speed>0.833333</speed>
            <time>40000</time>
        </point>
        <point>
            <x>-18.918</x>
            <y>-127.741</y>
            <speed>0.833333</speed>
            <time>42000</time>
        </point>
        <point>
            <x>-14.731</x>
            <y>-126.953</y>
            <speed>0.833333</speed>
            <time>44000</time>
        </point>
        <point>
            <x>-12.91</x>
            <y>-126.246</y>
            <speed>0.833333</speed>
            <time>46000</time>
        </point>
        <point>
            <x>-10.028</x>
            <y>-125.866</y>
            <speed>0.833333</speed>
            <time>48000</time>
        </point>
        <point>
            <x>-9.076</x>
            <y>-125.267</y>
            <speed>0.833333</speed>
            <time>50000</time>
        </point>
        <point>
            <x>-8.723</x>
            <y>-124.044</y>
            <speed>0.833333</speed>
            <time>52000</time>
        </point>
        <point>
            <x>-8.397</x>
            <y>-122.522</y>
            <speed>0.833333</speed>
            <time>54000</time>
        </point>
        <point>
            <x>-9.131</x>
            <y>-119.232</y>
            <speed>0.833333</speed>
            <time>56000</time>
        </point>
        <point>
            <x>-10.789</x>
            <y>-117.057</y>
            <speed>0.833333</speed>
            <time>58000</time>
        </point>
    </route>
</routes>
